---
const seasonImages: Record<string, string> = {
  "201204": "https://lain.bgm.tv/pic/cover/l/cd/38/27364_1ZFmr.jpg",
  "201207": "https://lain.bgm.tv/pic/cover/l/41/39/26449_G0Xzx.jpg",
  "201210": "https://lain.bgm.tv/pic/cover/l/5a/dc/47576_5gU11.jpg",
  "201301": "https://lain.bgm.tv/pic/cover/l/09/9c/41568_LhL6X.jpg",
  "201304": "https://lain.bgm.tv/pic/cover/l/4e/b1/54552_3aP51.jpg",
  "201307": "https://lain.bgm.tv/pic/cover/l/a1/67/68812_4vgt1.jpg",
  "201310": "https://lain.bgm.tv/pic/cover/l/d5/d7/72941_q1DiW.jpg",
  "201401": "https://lain.bgm.tv/pic/cover/l/cd/7b/77480_xuCK5.jpg",
  "201404": "https://lain.bgm.tv/pic/cover/l/1e/63/93739_TZ9dS.jpg",
  "201407": "https://lain.bgm.tv/pic/cover/l/8e/30/100501_M7o32.jpg",
  "201410": "https://lain.bgm.tv/pic/cover/l/73/26/110467_Fx9tT.jpg",
  "201501": "https://lain.bgm.tv/pic/cover/l/1b/e9/113292_z4z21.jpg",
  "201504": "https://lain.bgm.tv/pic/cover/l/37/df/115908_c0uQj.jpg",
  "201507": "https://lain.bgm.tv/pic/cover/l/8b/6b/101442_EM1Vg.jpg",
  "201510": "https://lain.bgm.tv/pic/cover/l/04/3d/120236_AffBR.jpg",
  "201601": "https://lain.bgm.tv/pic/cover/l/10/10/119394_06TrB.jpg",
  "201604": "https://lain.bgm.tv/pic/cover/l/d0/d5/150490_h8ffV.jpg",
  "201607": "https://lain.bgm.tv/pic/cover/l/2b/85/158316_gz1mM.jpg",
  "201610": "https://lain.bgm.tv/pic/cover/l/69/28/152091_Bg7Hc.jpg",
  "201701": "https://lain.bgm.tv/pic/cover/l/d2/ab/176615_W4d9D.jpg",
  "201704": "https://lain.bgm.tv/pic/cover/l/0e/ca/212293_J3Bv5.jpg",
  "201707": "https://lain.bgm.tv/pic/cover/l/f7/bf/203526_q2P6P.jpg",
  "201710": "https://lain.bgm.tv/pic/cover/l/5c/49/211567_pGm5Q.jpg",
  "201801": "https://lain.bgm.tv/pic/cover/l/18/bc/207195_2Cp3o.jpg",
  "201804": "https://lain.bgm.tv/pic/cover/l/f6/91/129807_9VAi4.jpg",
  "201807": "https://lain.bgm.tv/pic/cover/l/18/86/217300_WGgTy.jpg",
  "201810": "https://lain.bgm.tv/pic/cover/l/d0/e0/248154_D8z6D.jpg",
  "201901": "https://lain.bgm.tv/pic/cover/l/8e/c7/240760_xB0VY.jpg",
  "201904": "https://lain.bgm.tv/pic/cover/l/c2/56/263750_56TBs.jpg",
  "201907": "https://lain.bgm.tv/pic/cover/l/31/8f/240386_6Q62q.jpg",
  "201910": "https://lain.bgm.tv/pic/cover/l/bc/f7/278569_XOcJU.jpg",
  "202001": "https://lain.bgm.tv/pic/cover/l/5f/18/282433_9wDx9.jpg",
  "202004": "https://lain.bgm.tv/pic/cover/l/36/16/293049_0e0re.jpg",
  "202007": "https://lain.bgm.tv/pic/cover/l/16/79/278826_w85gd.jpg",
  "202010": "https://lain.bgm.tv/pic/cover/l/72/f9/285901_94tQr.jpg",
  "202101": "https://lain.bgm.tv/pic/cover/l/1c/6b/315574_tLgrT.jpg",
  "202104": "https://lain.bgm.tv/pic/cover/l/65/90/325285_4688X.jpg",
  "202107": "https://lain.bgm.tv/pic/cover/l/30/fb/332649_32TAQ.jpg",
  "202110": "https://lain.bgm.tv/pic/cover/l/60/4d/325585_tfU01.jpg",
  "202201": "https://lain.bgm.tv/pic/cover/l/2d/ad/347887_j0DFj.jpg",
  "202204": "https://lain.bgm.tv/pic/cover/l/cf/9c/317613_bpGX4.jpg",
  "202207": "https://lain.bgm.tv/pic/cover/l/ae/18/298477_eBaQ8.jpg",
  "202210": "https://lain.bgm.tv/pic/cover/l/e2/e7/328609_2EHLJ.jpg",
  "202301": "https://lain.bgm.tv/pic/cover/l/a4/16/296739_6U6Hg.jpg",
  "202304": "https://lain.bgm.tv/pic/cover/l/01/ee/394260_VMqvV.jpg",
  "202307": "https://lain.bgm.tv/pic/cover/l/e7/a7/428735_1v11n.jpg",
  "202310": "https://lain.bgm.tv/pic/cover/l/13/c5/400602_ZI8Y9.jpg",
  "202401": "https://lain.bgm.tv/pic/cover/l/ba/7e/441795_q6Sc3.jpg",
  "202404": "https://lain.bgm.tv/pic/cover/l/70/80/448478_47IsZ.jpg",
  "202407": "https://lain.bgm.tv/pic/cover/l/85/c1/475354_QyO6r.jpg",
  "202410": "https://lain.bgm.tv/pic/cover/l/05/aa/443676_6GFsu.jpg",
  "202501": "https://lain.bgm.tv/pic/cover/l/ce/3c/430699_hsj90.jpg",
  "202504": "https://lain.bgm.tv/pic/cover/l/6e/1a/509986_99qsc.jpg",
  "202507": "https://lain.bgm.tv/pic/cover/l/52/88/390555_11QS3.jpg",
  "202510": "https://lain.bgm.tv/pic/cover/l/3d/79/498378_uLEly.jpg",
};
---

<div>
  <h2>AnimeList</h2>
</div>
