---
import Hamburger from "../icons/Hamburger.astro";
import Navigation from "../ui/Navigation.astro";
import ThemeIcon from "../icons/ThemeIcon.astro";
---

<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>
