---
export async function getStaticPaths() {
    const data = await fetch(
        "https://api.rinshankaiho.fun/api/v0/season/available",
    ).then((res) => res.json());
    const available_seasons = data.available_seasons;
    return available_seasons.map((season_id: string) => ({
        params: { season: season_id },
    }));
}
const { season } = Astro.params;
---

<div>{season}!</div>
