---
import Header from "../components/sections/Header.astro";
import Footer from "../components/sections/Footer.astro";
import "../styles/global.css";

const data = await fetch(
    "https://api.rinshankaiho.fun/api/v0/season/available",
).then((res) => res.json());

const { pageTitle, currentSeasonId } = Astro.props;

const current_season_id = currentSeasonId || "";
const available_season_id_list = data.available_seasons;

---

<html lang="zh-CN" class="bg-gray-50 dark:bg-[#2d2e2f]">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle ? `${pageTitle} - Bangumi 新番排行榜`: "Bangumi 新番排行榜"}</title>
    </head>
    <body class="bg-gray-50 dark:bg-[#2d2e2f]">
        <Header
            currentSeasonId={current_season_id}
            availableSeasonIdList={available_season_id_list}
        />
        <slot />
        <Footer />
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
