---
const { displaySeasonId, availableSeasonIdList } = Astro.props;
---

<div class="nav-links">
    <div class="nav-title">
        <a href="/">Bangumi {displaySeasonId}新番排行</a>
    </div>
    <ul class="nav-li">
        {
            availableSeasonIdList.slice(0, 6).map((seasonId: string) => (
                <li>
                    <a href={`/${seasonId}/`}>{seasonId}</a>
                </li>
            ))
        }
        <li><a href="/more/">更多</a></li>
    </ul>
</div>
