---
const seasonName = "2025年7月";
const seasonIdList = [
    "202507",
    "202504",
    "202501",
    "202410",
    "202407",
    "202404",
];
---

<div class="nav-links">
    <div class="nav-title">
        <a href="/">Bangumi {seasonName}新番排行</a>
    </div>
    <ul class="nav-li">
        {
            seasonIdList.map((seasonId) => (
                <li>
                    <a href="/${seasonId}/">{seasonId}</a>
                </li>
            ))
        }
        <li><a href="/more/">更多</a></li>
    </ul>
</div>
